name: Build and Publish (development)
on:
  #schedule:
  #  - cron: "0 5 * * *"
  #push:
  #  branches:
  #    - development
  workflow_dispatch:


env:
  dockerhub: ${{ secrets.DOCKERHUB_NAMESPACE }}/pihole
  container: 3.23

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ matrix.platform}}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
          install: true
          use: true
      - name: Builder instance name
        run: echo ${{ steps.buildx.outputs.name }}
      - name: Cache Docker layers
        uses: actions/cache@v5
        id: cache
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        #uses: ./.github/actions/login-repo
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Docker meta (Docker Hub and GitHub Container Registry)
        id: meta
        uses: docker/metadata-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          images: |
            ${{ env.dockerhub }}:development
          flavor: |
            latest=false
          tags: |
            development
      - name: Checkout Repo dev-v6
        uses: actions/checkout@v6 #v6.0.0
        with:
          ref: development

      - name: Buildx and push
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./src
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          # removed linux/arm64
          #cache-from: type=local,src=/tmp/.buildx-cache
          #cache-to: type=local,dest=/tmp/.buildx-cache
          push: true
          build-args: |
            PIHOLE_DOCKER_TAG=${{ steps.meta.outputs.version }}
            CONTAINER=${{ env.container }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ env.dockerhub }}:development

      - name: Inspect images
        run: |
          docker buildx imagetools inspect ${{ env.dockerhub }}:development
