name: Build Image and Test
on:
  pull_request:
  push:
    branches:
      - master
      - development
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          #- platform: linux/386
          #  runner: ubuntu-latest
          - platform: linux/arm/v6
            runner: ubuntu-24.04-arm
          - platform: linux/arm/v7
            runner: ubuntu-24.04-arm
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
          #- platform: linux/riscv64
          #  runner: ubuntu-24.04-arm
    env:
      CI_ARCH: ${{ matrix.platform }}
    steps:
    - name: Checkout Repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v6.2.0
      with:
        python-version: "3.13"

    - name: Run black formatter
      run: |
        pip install black
        black --check --diff test/tests/

    - name: Install wheel
      run:  pip install wheel

    - name: Install dependencies
      run: pip install -r test/requirements.txt

    - name: Test with tox
      run: |
        CIPLATFORM=${{ env.CI_ARCH }} tox -c test/tox.ini
